body {
  background: url('images/background.png') no-repeat;
  background-size: 100%;
  color: #ffffff;
  opacity: 0.77;
}

footer{
  height: 20px;
  background-color: #f27831;
  position: fixed;
  bottom: 0;
  width:100%;
}

.main {
  writing-mode:tb-rl;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

header {
  background-color: black;
}
