body, header, footer, section {
  margin: 0; }

.content {
  margin: 0 auto;
  width: 960px; }

body {
  background: url("images/background.png") no-repeat;
  background-size: 100%;
  color: #ffffff; }

section {
  opacity: 0.77;
  text-align: center; }

footer {
  height: 20px;
  background-color: #f27831;
  position: fixed;
  bottom: 0;
  width: 100%; }

.main {
  display: inline-block;
  padding-top: 145px; }
  .main:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .main p {
    letter-spacing: 0.3em;
    word-wrap: break-word;
    display: block;
    margin: 6px;
    text-align: center;
    max-width: 1.1em;
    min-width: 1.1em;
    width: 1.1em;
    float: right;
    line-height: 19px;
    font-family: arial;
    opacity: 0.77; }
    .main p.title {
      font-weight: bold;
      font-size: 300%;
      line-height: 60px;
      margin-left: 40px; }

header {
  display: inline-block;
  background-color: black;
  width: 100%; }
  header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  header ul {
    float: right; }
  header li {
    list-style: none;
    display: inline-block; }
