<header>
    <img src="images/logo.png" alt="Latvia"/>
    <nav>
        <ul>
            <li>关于我们</li>
            <li>移民服务</li>
            <li>拉脱维亚概况</li>
            <li>联系我们</li>
        </ul>
    </nav>
</header>
<section>
    <p class="main">
        我们是

        一家具有12年专业领域经验的法律公司。
        在这12年时间里，
        我们努力巩固自己的市场地位，
        成功与几家大的银行合作，

        帮他们提供各种法律问题的解决方案。
        我们团队的高度责任感和精确性，
        保证我们为客户提供第一流的服务。

        自2010年始，
        新的法律规范被引入，
        外籍人士可以通过投资房地产来获得居留许可，
        我们公司增加了可提供的服务，
        聚焦居留许可的申办过程，
        为我们的客户提供获取居留许可方面的全套服务。

        我们与大的开发商合作，
        使得我们能够以最优品质和最佳保证提供最好的项目.
        我们的法律经验能保证我们正确完成全部过程，
        也保证我们为法律细微差别提供解决方案。

        我们来自俄罗斯、格鲁吉亚、乌克兰和哈萨克斯坦的客户，
        都对我们的工作十分满意，
        我们以客户的满意度为傲
    </p>
</section>
<footer></footer>
